{# Prints list of the ellements in the category items with the attribute vac_count #}
<div class="row mb-4">
    {% for item in items %}
        <div class="col-6 col-md-6 col-lg-3">
            <div class="card pt-4 text-center mb-4">
                <img class="mx-auto d-block" src="https://place-hold.it/80x80" width="80" height="80"
                     alt="">
                <div class="card-body">
                    <p class="card-text mb-2">{{ item }}</p>
                    <p class="card-text"><a href="{{ item.get_absolute_url }}">{{ item.vac_count }} вакансий</a></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

