{% extends 'vacancies/base.html' %}
{% block title %}
    Профиль - {{ block.super }}
{% endblock %}
{% block body %}
    <main class="container mt-3 pb-5">
        <div class="row mt-5">
            <div class="col-12 col-lg-4">
                <aside class="pt-3 pb-4 px-4 mb-5 card">
                    <h1 class="h4 pt-2 pb-2">Моя компания</h1>
                    <div class="nav flex-column nav-pills">
                        <a class="nav-link {% if request.resolver_match.url_name == "edit_company" %}active{% endif %}"
                           href="{% url 'edit_company' %}">1. Информация о&nbsp;компании</a>
                        <a class="nav-link {% if request.resolver_match.url_name == "my_vacancies" %}active{% endif %}"
                           href="{% url 'my_vacancies' %}">2. Вакансии</a>
                    </div>
                </aside>
            </div>
            <div class="col-12 col-lg-8">
                <div class="card">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}